body{
    margin: 0px;
}
.Slider{
    float: left;
    position: relative;
    display: block;
    width: 500px;
    height: 30px;
    /*background-color: #e8e8e8;*/
    --Slider-border-radius:30px;
    --Slider-border-width:1px;
    border-radius: var(--Slider-border-radius);
    /*border-style: solid;
    border-width: var(--Slider-border-width);
    border-color: #c7c7c7;*/
    -webkit-user-select:none;
}
.Slider > .Button{
    --Button-border-radius:calc(var(--Slider-border-radius) - var(--Slider-border-width));
    position: absolute;    
    display:flex;
    align-items:center;
    justify-content:center;    
    --width:40px;
    width: var(--width);
    height: 100%;
    background-color: #5ac0ff;
    border-radius: var(--Button-border-radius);
    transition: left .5s ease-out,background-color .3s ease-out;
}
.Slider > .Button:hover,.Slider > .Button.active{
    background-color: #72c9ff;
}
.Slider > .RateBg{
    --Button-border-radius:calc(var(--Slider-border-radius) - var(--Slider-border-width));
    position: absolute; 
    display: block;
    width: 100%;
    height: 100%;
    background-color: #e8e8e8;
    border-radius: var(--Button-border-radius);
    border-style: solid;
    border-width: var(--Slider-border-width);
    border-color: #c7c7c7;
    box-sizing: border-box;
    transition: width .5s ease-out,background-color .5s ease-out;
}
.Slider > .Rate{
    --Button-border-radius:calc(var(--Slider-border-radius) - var(--Slider-border-width));
    position: absolute; 
    display: block;
    height: 100%;
    background-color: #06588b;
    border-radius: var(--Button-border-radius) 0px 0px var(--Button-border-radius);
    transition: width .5s ease-out,background-color .5s ease-out;
}
.Slider.disable{
    /*background-color: #8e8e8e;*/
}
.Slider.disable > .Button{
    background-color: #717171;
}
.Slider.disable > .Rate{
    background-color: #3b3b3b;
}
.Slider.disable > .RateBg{
    background-color: #3b3b3b;
}
